body{
    margin: 0;
}
/* copa-america-cup (first section) start */
.copa-container{
    background-color: #2D25A0;
}

section{
    margin-bottom: 50px;
}
.copa-america-cup{
    display: flex;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 60px;
    padding-bottom: 45px;

    
}
.half-width img{
    width: 100%;
}

h1{
font-family: Poppins;
font-size: 50px;
font-weight: 700;
color: white;

}

.button-design{
    text-decoration: none;
    padding: 15px 24px;
    background-color:green;
    color: white;
    border-radius: 5px;

}

.button-design:hover{  
    background-color:red;
    transition: 2s ease-in-out;
}

.half-width:hover img{
    transform: scale(1.3) skew(20deg);
    transition: transform 1s ease-in-out;
}


/* ---------------copa-america-cup 
-----------(first section) start-------------- */


.players-card{
    display: flex;
    justify-content: center;
}

.player-card, .match{
    width: 310px;
    height: 474px;
    margin:10px 30px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}

.match{
    width: 310px;
    height: 474px;
    margin:10px 30px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}
 .match img{
    width: 310px;
    height: 256px;
    border-radius: 50px;
}

.player-image img, .match img{
    width: 310px;
    height: 256px;
}
/*------- end  ---------*/

/* extra work  start */
.table-positioning{
    display: flex;
    justify-content: center;
}
.table-part{
    width: 600px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
      
}

.table-part  td, th {
    
    text-align: left;
    padding: 10px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .table-part-title{
      padding: 25px;
      font-size: 20px;
      background-color: #2D25A0;
      color: white;
  }
/* extra work end  */
/* footer start --- */
.footer-image img{
    width: 271px;
    height: 63px;
}

.fab{
    background-color: white;
    font-size: 20px;
    padding: 0 14px;
}

.social-icons{
    display: flex;
    justify-content: center;
}
footer p{
    text-align: center;
}


/* footer end  */



/* match-update   */

.match-update{
    display: flex;
    justify-content: center;
}
 .match-title{
    font-size: 30px;
    background-color: #2D25A0;
    margin:0 370px;
    padding: 15px 0;
    text-align: center;
    color: white;
} 











/* media query  */
 @media only screen and (max-width:668px) {

   .players-card
   {
       display: grid;
       grid-template-columns: repeat(1,1fr);
       
       
   } 
   .copa-america-cup{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   }

   .half-width img{
    width: 150%;
}

    .footer-part{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    }

    .table-part{
        width: 400px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
          
    }

    .match-update{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        }
        
    .match-title{
        font-size: 20px;
        background-color: #2D25A0;
        margin:0px;
        padding: 15px 0;
        text-align: center;
        color: white;
    }    
    }




@media only screen and (min-width:689px) and (max-width:992px) {

    .players-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        
    } 
    .match-update{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        }

    .match-title{
            font-size: 20px;
            background-color: #2D25A0;
            margin:0;
            padding: 15px 0;
            text-align: center;
            color: white;
        }    
    
}



